name: Deploy documentation
on:
  push:
    branches: 
      - 'main'
      - 'dev'
    paths:
      - docs/**
  workflow_dispatch: 
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build_mkdocs:
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install mkdocs dependency
        run: pip install mkdocs
      - name: Install plugin for UML renders
        run: pip install mkdocs_puml
      - name: Build site
        run: mkdocs gh-deploy --config-file mkdocs.yml --force

  deploy_mkdocs:
    needs: build_mkdocs
    environment: 
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Download source again
        uses: actions/checkout@v4
        with:
          ref: gh-pages 
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
